<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.isb.bks.ivr.voice.ui.commands.category">
      </category>
      <command
            categoryId="com.isb.bks.ivr.voice.ui.commands.category"
            id="com.isb.bks.ivr.voice.ui.commands.sampleCommand2"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
            <handler
             commandId="com.isb.bks.ivr.voice.ui.commands.sampleCommand2"
            class="com.isb.bks.ivr.voice.ui.handlers.SampleHandler">
 
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
        <command
            commandId="com.isb.bks.ivr.voice.ui.commands.sampleCommand2"
            icon="icons/sample.gif"
            id="myId"
            label="Extrae informacion"
            style="push">
            <visibleWhen>
                <with
                     variable="activeMenuSelection">
                    <iterate>
                        <adapt
                           type="org.eclipse.core.resources.IFile">
                        </adapt>
                    </iterate>
                </with>
            </visibleWhen>
        </command>
    </menuContribution>
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                  id="er4">
               <command
                     commandId="com.isb.bks.ivr.voice.ui.commands.sampleCommand2"
                     icon="icons/sample.gif"
                     id="myId2"
                     label="Extrae informacion2"
                     tooltip="Say hello world">
               </command>
            </toolbar>
         </menuContribution>
   </extension>

</plugin>
