<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.vectorsf.jvoice.base.model.listener">
      <listener
            class="com.vectorsf.jvoice.core.wsdl.generator.listener.WSDLGeneratorListener"
            priority="500">
      </listener>
   </extension>

</plugin>
