<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="factory" name="%extension-point.name" schema="schema/factory.exsd"/>
   <extension
         point="com.vectorsf.jvoice.base.model.listener">
      <listener
            class="com.vectorsf.jvoice.core.reconciliator.ReconciliatorListener"
            priority="500">
      </listener>
   </extension>
   <extension
         point="com.vectorsf.jvoice.base.model.createProject">
           <listener
            class="com.vectorsf.jvoice.core.reconciliator.MavenProjectCreator"
            priority="500">
      </listener>
   </extension>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="projectInformation"
            class="com.vectorsf.jvoice.core.reconciliator.util.ReconciliableResourceFactoryImpl"/>
   </extension>
</plugin>
