<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="factory" name="JVBean Factory" schema="schema/factory.exsd"/>
   <extension
         point="com.vectorsf.jvoice.base.model.listener">
      <listener
            class="com.vectorsf.jvoice.core.reconciliator.ReconciliatorListener"
            priority="500">
      </listener>
   </extension>

</plugin>
