<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.vectorsf.jvoice.ui.perspective.ivr.PerspectiveFactory"
            icon="res/perspective.png"
            id="com.vectorsf.jvoice.ui.perspective.perspective"
            name="JVoice">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.vectorsf.jvoice.ui.perspective.perspective">
             <view
                   id="com.vectorsf.jvoice.ui.navigator.ViewIVR"
                   ratio="0.2"
                   relationship="left"
                   relative="org.eclipse.ui.editorss">
            </view>
 
            <view
                  id="org.eclipse.ui.views.PropertySheet"
                  ratio="0.7"
                  relationship="bottom"
                  relative="org.eclipse.ui.editorss">
            </view>
            <view
                  id="org.eclipse.ui.views.ProblemView"
                  ratio="0.7"
                  relationship="stack"
                  relative="org.eclipse.ui.views.PropertySheet">
            </view>
      </perspectiveExtension>
   </extension>

</plugin>
