<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.isb.com/bks/ivr/voice/dsl/VoiceDsl" 
       class = "com.isb.bks.ivr.voice.dsl.voiceDsl.VoiceDslPackage"
       genModel = "com/isb/bks/ivr/voice/dsl/VoiceDsl.genmodel" /> 
	
  </extension>
  <extension
        id="jVoiceProduct"
        point="org.eclipse.core.runtime.products">
     <product
           application="com.isb.bks.ivr.voice.dsl.application"
           name="jVoice">
        <property
              name="appName"
              value="jVoice">
        </property>
     </product>
  </extension>
</plugin>
