<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.isb.com/bks/ivr/voice/dsl/VoiceDsl/1.0" 
       class = "com.isb.bks.ivr.voice.dsl.voiceDsl.VoiceDslPackage"
       genModel = "com/isb/bks/ivr/voice/dsl/VoiceDsl.genmodel" /> 
	
  </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VoiceDsl -->
      <package
            uri="http://www.isb.com/bks/ivr/voice/dsl/VoiceDsl/1.0"
            class="voiceDsl.VoiceDslPackage"
            genModel="model/VoiceDsl.genmodel"/>
   </extension>

</plugin>
