<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.vectorsf.jvoice.ui.navigator.category"
            class="com.vectorsf.jvoice.ui.navigator.IVRNavigator"
            icon="res/navigator.png"
            id="com.vectorsf.jvoice.ui.navigator.ViewIVR"
            name="Navigator IVR">
      </view>
      <category
            id="com.vectorsf.jvoice.ui.navigator.category"
            name="IVR">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.vectorsf.jvoice.ui.navigator.ViewIVR">
         <includes>
            <actionExtension
                  pattern="com.vectorsf.jvoice.ui.navigator.ActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.vectorsf.jvoice.ui.navigator.ViewIVR">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.vectorsf.jvoice.ui.navigator.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="com.vectorsf.jvoice.base.maven.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="com.vectorsf.jvoice.ui.navigator.ViewIVR">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.vectorsf.jvoice.ui.navigator.popup">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.show"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint></popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.vectorsf.jvoice.ui.navigator.ivr.ContentProvider"
            icon="res/Component.ico"
            id="com.vectorsf.jvoice.ui.navigator.navigatorContent"
            labelProvider="com.vectorsf.jvoice.ui.navigator.ivr.LabelProvider"
            name="IVR Navigator"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </triggerPoints>
         <dropAssistant
               class="com.vectorsf.jvoice.ui.navigator.drop.BeanCommonDropAdapterAssistant"
               id="com.vectorsf.jvoice.ui.navigator.drop.dropAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="com.vectorsf.jvoice.model.base.JVPackage">
                  </instanceof>
               </or></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <navigatorContent
            contentProvider="com.vectorsf.jvoice.ui.navigator.ivr.MavenContentProvider"
            id="com.vectorsf.jvoice.base.maven.navigatorContent"
            labelProvider="org.eclipse.jdt.internal.ui.navigator.JavaNavigatorLabelProvider"
            name="Maven navigator content"
            priority="low">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer">
               </instanceof>
               <instanceof
                     value="com.vectorsf.jvoice.model.base.JVProject">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="com.vectorsf.jvoice.ui.navigator.CommonActionProviderIVR"
            id="com.vectorsf.jvoice.ui.navigator.ActionProvider">
         <enablement>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVBean">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.vectorsf.jvoice.ui.navigator.popup?after=group.new">
         <menu
               label="New">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Project..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Diagrama"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <or>
                              <instanceof
                                    value="com.vectorsf.jvoice.model.base.JVPackage">
                              </instanceof>
                              <instanceof
                                    value="com.vectorsf.jvoice.model.base.JVProject">
                              </instanceof>
                           </or>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
               <parameter
                     name="newWizardId"
                     value="com.vectorsf.jvoice.diagram.core.wizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Other..."
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <and>
                        <count
                              value="1">
                        </count>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.vectorsf.jvoice.ui.navigator.popup?after=group.show">
         <menu
               label="Show in">
            <command
                  commandId="org.eclipse.egit.ui.team.ShowRepositoriesView"
                  label="Git Repositories"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.egit.ui.team.ShowHistory"
                  label="History"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.properties.NewPropertySheetCommand"
                  label="Properties"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show View"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.vectorsf.jvoice.ui.navigator.popup?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.copy.qualified.name"
               label="Copy Qualified Name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.vectorsf.jvoice.ui.navigator.command7"
               label="Build Path"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.vectorsf.jvoice.ui.navigator.command8"
               label="Source"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <or>
                           <instanceof
                                 value="com.vectorsf.jvoice.model.base.JVBean">
                           </instanceof>
                           <instanceof
                                 value="com.vectorsf.jvoice.model.base.JVPackage">
                           </instanceof>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="com.vectorsf.jvoice.model.base.JVBean">
                        </instanceof>
                        <instanceof
                              value="com.vectorsf.jvoice.model.base.JVPackage">
                        </instanceof>
                        <instanceof
                              value="com.vectorsf.jvoice.model.base.JVProject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.vectorsf.jvoice.model.base.JVProject"
            class="com.vectorsf.jvoice.ui.navigator.AdapterProject">
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.vectorsf.jvoice.model.base.JVBean"
            class="com.vectorsf.jvoice.ui.navigator.AdapterBean">
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.vectorsf.jvoice.model.base.JVPackage"
            class="com.vectorsf.jvoice.ui.navigator.AdapterPackage">
         <adapter
               type="org.eclipse.core.resources.IFolder">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.vectorsf.jvoice.ui.navigator.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVPackage">
                     </instanceof>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVBean">
                     </instanceof>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVProject">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.vectorsf.jvoice.ui.navigator.handler.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVPackage">
                     </instanceof>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVProject">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.vectorsf.jvoice.ui.navigator.handler.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <or>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVPackage">
                     </instanceof>
                     <instanceof
                           value="com.vectorsf.jvoice.model.base.JVBean">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
