<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.vectorsf.jvoice.base.navigator.category"
            class="com.vectorsf.jvoice.ui.navigator.IVRNavigator"
            icon="res/Component.ico"
            id="com.vectorsf.jvoice.base.navigator.ViewIVR"
            name="Navigator IVR">
      </view>
      <category
            id="com.vectorsf.jvoice.base.navigator.category"
            name="IVR">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.vectorsf.jvoice.base.navigator.ViewIVR">
         <includes>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.vectorsf.jvoice.base.navigator.ViewIVR">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.vectorsf.jvoice.base.navigator.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="com.vectorsf.jvoice.base.navigator.ViewIVR">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.vectorsf.jvoice.base.navigator.popup">
            <insertionPoint
                  name="group.new"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint></popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.vectorsf.jvoice.ui.navigator.ivr.ContentProvider"
            icon="res/Component.ico"
            id="com.vectorsf.jvoice.base.navigator.navigatorContent"
            labelProvider="com.vectorsf.jvoice.ui.navigator.ivr.LabelProvider"
            name="IVR Navigator">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.vectorsf.jvoice.base.navigator.popup?after=group.new">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="New"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.vectorsf.jvoice.base.navigator.popup?after=group.open">
         <command
               commandId="org.eclipse.ui.navigate.openResource"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.vectorsf.jvoice.base.navigator.command7"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.vectorsf.jvoice.base.navigator.popup?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.vectorsf.jvoice.base.navigator.popup?after=group.port">
         <command
               commandId="org.eclipse.ui.file.import"
               label="Import"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="Export"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.vectorsf.jvoice.base.navigator.popup?after=group.build">
         <command
               commandId="org.eclipse.egit.ui.RepositoriesViewRefresh"
               label="Refresh"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
