<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.isb.bks.ivr.voice.m2e.builder.internal.JVoiceProjectConfigurator"
            id="com.isb.bks.ivr.voice.m2e.jVoiceConfigurator"
            name="%configurator.name">
      </configurator>
      <configurator
            class="com.isb.bks.ivr.voice.m2e.builder.internal.JVoiceJaxWSConfigurator"
            id="com.isb.bks.ivr.voice.m2e.jVoiceJaxWSConfigurator"
            name="JaxWS">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

</plugin>
