<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="patternContributor" name="patternContributor" schema="schema/patternContributor.exsd"/>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="com.isb.jvoice.diagram.core.diagramType"
            name="jVoice diagram"
            type="jVoiceDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="com.vectorsf.jvoice.diagram.core.features.CoreDiagramTypeProvider"
            context="com.isb.jvoice.diagram.core.diagramEditor"
            id="com.isb.jvoice.diagram.core.diagramTypeProvider"
            name="jVoice diagram type provider">
         <diagramType
               id="com.isb.jvoice.diagram.core.diagramType">
         </diagramType>
         <imageProvider
               id="com.vectorsf.jvoice.diagram.core.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.isb.jvoice.diagram.core.diagramEditor"
            name="%context.name"
            parentId="org.eclipse.graphiti.ui.diagramEditor">
      </context>
   </extension>
   	<extension
         point="com.vectorsf.jvoice.diagram.core.patternContributor">
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.InitialStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.FinalStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.SwitchStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.CallStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.CallFlowStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.PromptStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.InputStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.MenuStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.TransferStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.RecordStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.states.CustomStatePattern">
     </patternContributor>
     <patternContributor
           patternContributorClass="com.vectorsf.jvoice.diagram.core.pattern.note.NotePattern">
     </patternContributor>
 </extension>
 <extension
       point="org.eclipse.graphiti.ui.imageProviders">
    <imageProvider
          class="com.vectorsf.jvoice.diagram.core.features.CoreImageProvider"
          id="com.vectorsf.jvoice.diagram.core.imageProvider">
    </imageProvider>
 </extension>
 
     <extension
         point="org.eclipse.ui.editors">
       <editor
          class="com.vectorsf.jvoice.diagram.core.editor.JVoiceDiagramEditor"
          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
          default="true"
          extensions="jvflow"
          id="org.eclipse.graphiti.ui.editor.DiagramEditorJVoice"
          matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
          icon="icons/flow.png"
          name="%editor.name">
       <contentTypeBinding
             contentTypeId="org.eclipse.graphiti.content.diagram">
       </contentTypeBinding>
      </editor>
   </extension>
  

    <extension point="org.eclipse.ui.menus">
       <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
		<toolbar id="com.vectorsf.jvoice.diagram.core.IVR">
        <command
                commandId="Actualizador de proyectos IVR"
                icon="icons/refresh.gif"
                label="Actualizador"
                style="push"
                tooltip="Actualizador de proyectos IVR">
          </command>
        <command
                commandId="Despliegue de módulos"
                icon="icons/ivrserver.gif"
                label="Despliegue"
                style="push"
                tooltip="Instala el módulo seleccionado y su aplicación">
          </command>
         </toolbar>
       </menuContribution>
    </extension>
    
<extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.vectorsf.jvoice.diagram.core.updater.IVRUpdater"
          commandId="Actualizador de proyectos IVR">
    </handler>
    <handler
          class="com.vectorsf.jvoice.diagram.core.updateModules.IVRMavenLauncher"
          commandId="Despliegue de módulos">
    </handler>
</extension>    
    
</plugin>
