<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated coreOperations -->
      <package
            uri="http://jvoice.vectorsf.com/operations/1.0"
            class="com.vectorsf.jvoice.model.operations.OperationsPackage"
            genModel="model/coreOperations.genmodel"/>
   </extension>

</plugin>
