<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="listener" name="%extension-point.name" schema="schema/listener.exsd"/>
   <extension-point id="createProject" name="%extension-point.create" schema="schema/createProject.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Base -->
      <package
            uri="http://base.jvoice.vectorsf.com/1.0"
            class="com.vectorsf.jvoice.model.base.BasePackage"
            genModel="model/Base.genmodel"/>
   </extension>

</plugin>
