<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.vectorsf.jvoice.diagram.core.category"
            class="com.vectorsf.jvoice.ui.wizard.create.CreateProjectJVoice"
            icon="res/JVProject.png"
            id="com.vectorsf.jvoice.ui.project.wizard"
            name="%wizard.project.name"
            project="true">
      </wizard>
      <wizard
         category="com.vectorsf.jvoice.diagram.core.category"
         class="com.vectorsf.jvoice.ui.wizard.create.CreateJVPackageWizard"
         icon="res/JVPackage.png"
         id="com.vectorsf.jvoice.ui.package.wizard"
         name="%wizard.package.name"
         project="false">
      </wizard>
     <wizard
           category="com.vectorsf.jvoice.diagram.core.category"
           class="com.vectorsf.jvoice.ui.wizard.create.CreateDiagramJVoice"
           icon="res/Flow.png"
           id="com.vectorsf.jvoice.ui.wizard.DiagramJVoice"
           name="%wizard.flow.name"
           project="false">
      </wizard>
      <wizard
            category="com.vectorsf.jvoice.diagram.core.category"
            class="com.vectorsf.jvoice.ui.wizard.create.CreateDslJVoice"
            icon="res/VoiceDsl.png"
            id="com.vectorsf.jvoice.ui.wizard.wizardDSL"
            name="%wizard.locution.name"
            project="false">
      </wizard>
      <wizard
            category="com.vectorsf.jvoice.diagram.core.category"
            class="com.vectorsf.jvoice.ui.wizard.create.CreateJVoiceApplicationWizard"
            icon="res/JVProject.png"
            id="com.vectorsf.jvoice.ui.application.wizard"
            name="%wizard.application.name"
            project="true">
      </wizard>

   </extension>
</plugin>
