<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.vectorsf.jvoice.diagram.core.category"
            class="com.vectorsf.jvoice.ui.wizard.Wizards.CreateProjectJVoice"
            id="com.vectorsf.jvoice.ui.project.wizard"
            name="JVoice project"
            project="true">
      </wizard>
      <wizard
            category="com.vectorsf.jvoice.diagram.core.category"
            class="com.vectorsf.jvoice.ui.wizard.Wizards.CreateJVPackageWizard"
            id="com.vectorsf.jvoice.ui.package.wizard"
            name="JVoice package"
            project="false">
      </wizard>
   </extension>

</plugin>
