<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vectorsf.jvoice.ui.project.editor.EditorExecutableExtensionFactory:com.vectorsf.jvoice.ui.project.editor.ProjectEditor"
            contributorClass="com.vectorsf.jvoice.ui.project.editor.EditorExecutableExtensionFactory:org.eclipse.emf.parsley.editors.EmfParsleyEditorActionBarContributor"
            default="false"
            extensions="projectInformation"
            id="com.vectorsf.jvoice.ui.project.editor.ProjectEditor"
            name="jVoice Project Editor">
      </editor>
   </extension>
</plugin>
